* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: hsl(0deg, 0%, 0%);
  background-color: hsl(0deg, 0%, 100%);
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Fonts */
h1 {
  margin-bottom: 48px;
  font-size: 2rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
  font-weight: bold;
}

p {
  font-size: 1.25rem;
  line-height: 1.5; /* on 20 size, this turns out to be 30px */ 
}

/* Both sections apply this */
.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

/* First section */
.intro-chunk {
  padding: 96px 24px 64px;
  max-width: 416px;
}

/* Second section */
section.max-width-wrapper {
  padding: 64px 0;
  max-width: 100%;
  border-top: 8px solid hsl(0deg, 0%, 60%);
  background-color: hsl(0deg, 0%, 40%);
}

/* Card from second section */
.card {
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
  padding: 8px 24px 0;
  max-width: 800px;
  margin: 0 auto;
}

/* H2 from second section */
.indented-heading {
  font-size: 1.5rem;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px 32px;
  max-width: max-content;
  margin: 0;
  margin-left: -32px;
}
